body {
        background-size: cover; /* Make image cover the whole screen */
        background-repeat: no-repeat;
        background-position: center;
}

.tank {
    background-size: cover;
    background-position: center;
}
.evolve-btn{
    right: 0%;
}
.img-invis{
    opacity: 0;
}