@font-face {
  font-family: 'Satoshi'; /* Name the font */
  src: url("Satoshi-Black.ttf") format("truetype"); 
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; /* Helps with page load performance */
}

body{
    font-family:'Satoshi-Black', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    background-color: rgb(182, 195, 203);
    color: white;
}

.container {
    display: flex; /* Makes the children (aside and main) flex items */
    width: 20vw;
}


.sidebar-total {
    margin: 0; 
    flex-direction: column;
    position: fixed;
    width: 5vw; /* Set a specific width for the sidebar */
    overflow-y: auto; /* Adds a scrollbar if content is too long */
}

.sidebar {
    margin: 0;
    opacity: 0;  

    flex-direction: column;
    position: fixed;
    width: 17.5vw; /* Set a specific width for the sidebar */
    overflow-y: auto; /* Adds a scrollbar if content is too long */
}

.sidebar a{
    text-align: left;
    display: block;

    padding: 1.15vw;
    margin: .8vw;
    width: 10vw;

    border-radius: 10px;
    row-gap: 1rem;
    font-size: 1.5vw;
    background-color: white;
    text-decoration: none;
    color: rgb(111, 179, 206);
}

.sidebar a:hover:not(.active) {
    transition: ease-in 0.3s;
    padding-left: 2vw;
    background-color: rgb(111, 179, 206);
    color: white;
    box-shadow: 0px 0px 30px rgb(225, 240, 252);
}

.sidebar a.active:hover {
    transition: ease-in 0.3s;
    padding-left: 2vw;
    background-color: rgb(111, 179, 206);
    color: white;
    box-shadow: 0px 0px 30px rgb(225, 240, 252);
}

.sidebar a.active {
    background-color: rgb(111, 179, 206);
    color: white;
}


.sidebar.show {
    width: 20vw;
    transform: ease-in-out 3s;
    opacity: 1;
    pointer-events: auto;
}


.content{
    margin-left: 2.5vw;
    padding: 1px 16px;
    height: 100%;
}

.content.show{
    padding: 1px 16px;
    height: 100%;
    margin-left:15vw;
}

/*.sidebar button{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}*/


.nav-btn{
    display: block;
    opacity: 1;
}

.nav-btn.show{
    opacity: 1;
    display: block;
}

.course-set{
    align-self: center;
}

.course-tag{
    margin-right: 20px;
}