.shop-popup {
    cursor: url("images/bcursor1.png"), pointer;
    display: flex;
    background-color: var(--light-bg);
    width: 40vw;
    aspect-ratio: 5/4;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    border-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    gap: 0rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    border: 0.15rem solid var(--light-bg);
    pointer-events: none;
    z-index: 1000;
}

.shop-popup.show {
    transform: translate(-50%, -50%) scale(1.0);
    opacity: 1;
    pointer-events: auto;
}

.item-textbox{
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(189, 189, 189);
    font-size: 1.2rem;
}
