@font-face {
  font-family: 'Satoshi'; /* Name the font */
  src: url("Satoshi-Black.ttf") format("truetype"); 
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; /* Helps with page load performance */
}


:root {
    --navy: #0a1c38;
    --blue: #1a6fc4;
    --accent: #2196f3;
    --white: #ffffff;
    --light-bg: #f0f4f8;
}

body{
    font-family:'Satoshi-Black', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    color: var(--light-bg);
    cursor: pointer;
}

.timercontainer.show{
    cursor: url("images/bcursor1.png"), pointer;
    position: fixed;
    left: 45%;
    top: 0%;
    display: block;
    margin: auto;
    height: 10vh;
    line-height:0;
    width: auto;
    background-color: var(--blue);
    border-radius: 20px;
    text-align: center;
}

.timercontainer{
    cursor: url("images/bcursor1.png"), pointer;
    position: fixed;
    left: 40%;
    top: 0%;
    display: block;
    margin: auto;
    height: 10vh;
    line-height:0;
    width: auto;
    background-color: var(--blue);
    border-radius: 20px;
    text-align: center;
}

.time{
    display: flex;
    flex-direction: row;
    padding:2vw;
    margin-left: 20px;
    gap: 1em;
    align-self: center;
    text-align: center;
    color: var(--light-bg);
    margin-bottom: 10px;
}

.time-btns{
    cursor: url("images/bcursor1.png"), pointer;
    display: block;
    margin: auto;
    align-self: center;
    gap: 1em;
}

button{
    font-family: 'Satoshi-Black', sans-serif;
    background-color: var(--accent);
    color: white;
    padding: 1em 1.2em;
    border: none;
    border-radius: 10px;
    
    font-weight: bold; 
}

button:hover{
    background-color: var(--blue);
    color: white;
    box-shadow: 0px 0px 20px rgb(66, 155, 193);

}
.delete-btn{
    font-family: 'Satoshi-Black', sans-serif;
    background-color: var(--accent);
    color: white;
    padding: 1vw;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
}
.delete-btn:hover{
    background-color: var(--blue);
    color: white;
    box-shadow: 0px 0px 20px rgb(66, 155, 193);
}

.popup-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}

.popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
}
