@font-face {
  font-family: 'Satoshi'; /* Name the font */
  src: url("Satoshi-Black.ttf") format("truetype"); 
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; /* Helps with page load performance */
}

/* ── ANIMATIONS ── */
@keyframes fadeUp{
from{
    opacity:0;
    transform:translateY(18px);
}
to{
    opacity:1;
    transform:translateY(0);
}
}
html{
    scroll-behavior:smooth;
}

.body{
    animation: fadeUp 0.5s ease forwards;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

:root {
    --primary: "Satoshi-Black", sans-serif;
    --navy: #0a1c38;
    --blue: #1a6fc4;
    --accent: #2196f3;
    --white: #ffffff;
    --light-bg: #f0f4f8;
}


.logo{
    width: 350px;
    height: 171px;
    z-index: 30;
    position: fixed;
    left: 25%;
    top: -2.5%;
    margin: 0;
    line-height:0;
}

.logo.show{
    z-index: 40;
    position: fixed;
    left: 33%;
    top: -2.5%;
    margin: 0;
    line-height:0; 
}
.logo:hover{
    transform: scale(1.05);
    cursor: url("images/bcursor1.png"), pointer;
}

body{
    font-family:var(--primary);
    font-size: 2vw;
    font-weight: bold;
    color: var(--light-bg);
}
h1 {
    margin-top: .25em;
    margin-bottom: .5em;
    color: var(--navy);
}
h2 {
    font-size: 1em;
    color: var(--blue);
    line-height: 1em;
}

button{
    font-family:'Satoshi-Black',sans-serif;
    cursor: url("images/bcursor1.png"), default;

    display:inline-flex;
    align-items:center;

    padding:9px 20px;
    border-radius:999px;
    
    background-color: var(--accent);
    color: white;

    font-size:1em;
    font-weight:bold;
    border:none;
    transition:all 0.2s;
    margin-bottom: 20px;
    /* cursor: url("images/bcursor1.png"), auto;
    font-family:'Satoshi-Black',sans-serif;
    background-color: var(--accent);
    color: white;
    align-self: center;

    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

    border: none;
    font-size: 20px;
    border-radius: 10px;
    
    font-weight: bold;  */
}

button:hover{
    background-color: var(--blue);
    color: white;
    box-shadow: 0px 0px 20px rgb(66, 155, 193);

}
.delete-btn{
    font-family:'Satoshi-Black',sans-serif;
    background-color: var(--accent);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
}
.delete-btn:hover{
    background-color: var(--blue);
    color: white;
    box-shadow: 0px 0px 20px rgb(66, 155, 193);
}

.popup-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}

.popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.hours-logged{
    padding-left: 10px;
    margin: 0;
    width: auto;
    border-radius: 10px;
    color: var(--accent);
    text-align: left;

    background-color:white;
    animation: fadeUp 0.5s ease forwards;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease; 
}

.currency {
    left: 10%;
    direction: flex;
    background-color: var(--accent);
    color: var(--light-bg);
    width: 10vw;
    border-radius: 15px;
    padding: 10px;

    animation: fadeUp 0.5s ease forwards;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease; 
}
.delete-popup {
    cursor: url("images/bcursor1.png"), pointer;
    display: flex;
    background-color: var(--light-bg);
    width: 30vw;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;

    position: fixed;
    border-radius: 1rem;
    padding: 2rem;
    gap: 0rem;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    border: 0.15rem solid var(--light-bg);
    pointer-events: none;
    z-index: 1000;
}

.delete-popup.show {
    transform: translate(-50%, -50%) scale(1.0);
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
    text-align: center; 
    border-radius: 30px;
    border-color:rgba(47, 106, 232, 0.368);
}

.delete-popup-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}

.delete-popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 1000px) {
    logo{
        left: 10%;
        width: 175px;
        height: 85.5px;
    }
    logo.show{
        left: 28%;
        width: 175px;
        height: 85.5px;
    }
}