/* Animated Wave Background Style  */

:root {
 
    --navy: #0a1c38;
    --blue: #1a6fc4;
    --accent: #2196f3;
    --white: #ffffff;
    --light-bg: #f0f4f8;
}


.ocean {
    cursor: url("images/bcursor1.png"), pointer;
    height:50px;
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    background-color: var(--blue);
}

.wave {
    background: url("images/wave.png") repeat-x;
    position: absolute;
    top: -350px;
    width: 3840px;
    height: 700px;
    animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, swell 7s;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -250px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -1.25s infinite;
    opacity: 1;
}


@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1920px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-20px,0);
    }
    50% {
        transform: translate3d(0,40px,0);
    }
}

/* Animated Wave Background Style  */


.home-ocean {
    cursor: url("images/bcursor1.png"), pointer;
    height: 50px;
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    background-color: var(--blue);
}

.home-wave {
    background: url("images/wave.png") repeat-x;
    position: absolute;
    top: -350px;
    width: 6400px;
    height: 700px;
    animation: wave 14s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite, swell 7s;
    transform: translate3d(0, 0, 0);
}

.home-wave:nth-of-type(2) {
    top: -350px;
    z-index: -10;
    animation: home-wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, home-swell 7.5s ease -1.25s infinite;
    opacity: 1;
}


@keyframes home-wave {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -1920px;
    }
}

@keyframes home-swell {
    0%, 100% {
        transform: translate3d(0,-20px,0);
    }
    50% {
        transform: translate3d(0,20px,0);
    }
}
